[Settings]
ShowAllProcesses=FALSE
ShowLegend=TRUE
MorePrecision=FALSE
FullCommandLine=FALSE
ShowStatusIcon=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=DEFAULT
PromptTerminateTask=TRUE
RefreshRate=1000
ColumnUID=FALSE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=5
SortType=1
WindowWidth=603
WindowHeight=753
HandlePosition=23
ProcessTreeView=FALSE
